@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body {
    font-family: 'Sawarabi Mincho', sans-serif;
}

header{
    background-color:#de6090;
    height: 100px;
    width: 100%;
    position :relative;
    top: 0;
    z-index: 10;
}

.header-menu li{
    list-style:none;
    display:inline-block;
    color:#fff;
    font-size:30px;
    padding-right:100px;
}
.header-menu a{
    display:inline-block;
    color:#fff;
}

.header-menu a:hover{
    color:#d5196d;
    transition: 0.3s;
}

.header-menu ul{
    text-align:center;
    padding-top:30px;
}

.deco-left{
    float:left;
    width: 70px;
    height:70px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:100px;

}

.deco-right{
    position: absolute;
    top:0;
    right:0;
    float:left;
    width: 70px;
    height:70px;
    margin-top:15px;
    margin-right:100px;
    margin-bottom:15px;
}

.strawberry{
    position:relative;
    background-color:#bb3940;
    height:700px;
    z-index:0.1;
}

.contents{
    width:600px;
    height:600px;
    position:absolute;
    text-align:center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color: #fff;
    z-index:1;
}

.contents h1{
    text-align:center;
    color:#bb3940;
    font-size:70px;
}

.contents p{
    color:black;
    line-height:50px;
    text-align: center;
}

.strawberry-pic{
    float:left;
    width:136px;
    height:168px;
    margin-left:-20px;
    
}

.contents a{
    float:left;
    color:#bb3940;
    position:relative;
    padding-top:70px;
    padding-left:160px;
    text-align:center;
    font-size:20px;
}

footer{
    background-color:#de6090;
    height: 100px;
    width: 100%;
    position :relative;
    bottom: 0;
    z-index: 10; 
}

.copyright{
    color:#fff;
    padding-top:20px;
    padding-left:10px;
}

a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color:#d5196d;
  }
  
  hr {
    height: 1px;
    border: 0;
    border-top: 30px solid #e5e7eb;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .footer {
    padding: 2rem;
    font-size: 30px;
    color:#fff;
    background: #fff;
  }
  
  .footer__navi-heading {
    font-weight: 600;
  }
  
  .footer__logo {
    display: inline-block;
    margin-bottom: 2rem;
  }
  
  .footer__navi li {
    margin-bottom: 0.75rem;
  }
  
  .footer__social a {
    display: inline-block;
    width: 40px;
    padding-top:20px;
    padding-right:10px;
  }
  
  .footer__social a:not(:last-child) {
    margin-right: 16px;
  }
  
  @media (min-width: 768px) {
    .md-flex {
      display: flex;
    }
  
    .md-justify-between {
      justify-content: space-between;
    }
  
    .grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }