body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

header{
    height:100px;
    width:100%;
    background-color:#de6090;
    top:0;
    z-index: 10;
    position:relative;
}

.flower-left{
    position: absolute;
    top:0;
    left:0;
    float:left;
    width: 70px;
    height:70px;
    margin-top:15px;
    margin-left:100px;
    margin-bottom:15px;
    animation:3s linear infinite rotation1;
}

.header-menu ul{
    list-style: none;
    color:#fff;
    font-size:30px;
    text-align: center;
    padding:30px;
}

.header-menu li{
    display:inline-block;
    padding-right:100px;

}

.flower-right{
    position: absolute;
    top:0;
    right:0;
    float:left;
    width: 70px;
    height:70px;
    margin-top:15px;
    margin-right:100px;
    margin-bottom:15px;
    animation:3s linear infinite rotation1;
}

@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }

.top-wrapper{
    height:852px;
    background-image:url(img/name2.png);
    background-size:cover;

}

.top-pic{
    height:727px;
    width:364px;
    margin-top:65px;
    margin-left:109px;
}

.explanation-container{
    height:1132px;
    width:100%;
    background-image: linear-gradient(180deg, rgba(222, 96, 144, 1), rgba(255, 255, 255, 1));
    display: flex;
	align-items: center;
}

.explanation{
    height:794px;
    width:948px;
    margin: 0 auto;
    background-color:white;
    opacity:80%;
}

.explanation h2{
    font-size:40px;
    text-align:center;
    color:#de6090;
    line-height:50px;
}

.explanation p{
    font-size:20px;
    text-align:center;
    line-height:45px;
}

.explanation-image{
    margin-left:772px;
    height:205px;
    width:148px;
}

.recommendation h1{
    position:relative;
    text-align:center;
    margin:0 auto;
    font-size:40px;
    border-top:2px solid #de6090;
    color:#de6090;
    padding-top:10px;
}

.recommendation p{
    text-align:center;
    font-size:25px;
    border-bottom:2px solid #de6090;
    padding-bottom:10px;
}

/*スライドショー*/
.recommendation-image img{
  height:250px;
  width:250px;
  margin-top:50px;
  margin-bottom:50px;
  margin-left:30px;
}

.commitment{
margin-bottom:100px;
}

.commitment h2{
  position:relative;
  text-align:center;
  margin:0 auto;
  font-size:40px;
  border-top:2px solid #de6090;
  color:#de6090;
  padding-top:10px;
}

.commitment p{
  text-align:center;
  font-size:25px;
  border-bottom:2px solid #de6090;
  padding-bottom:10px;
}

.commitment-container a{
  position:relative;
  float:left;
  display:inline-block;
  display:flex;
  height:750px;
  width:25%;
  margin-bottom:30px;
}

.navi-text{
  text-align:center;
  border-top:2px solid #de6090;
  border-bottom:2px solid #de6090;
}

/* commit-containerと被っている*/
.navi h2{
  font-size:40px;
  color:#de6090;
}

.navi p{
  font-size:25px;
}

.map{
  margin-top:30px;
}

footer{
  background-color:#de6090;
  height: 100px;
  width: 100%;
  position :relative;
  bottom: 0;
  z-index: 10; 
}

.copyright{
  color:#fff;
  padding-top:20px;
  padding-left:10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#d5196d;
}

hr {
  height: 1px;
  border: 0;
  border-top: 30px solid #e5e7eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  padding: 2rem;
  font-size: 30px;
  color:#fff;
  background: #fff;
}

.footer__navi-heading {
  font-weight: 600;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__social a {
  display: inline-block;
  width: 40px;
  padding-top:20px;
  padding-right:10px;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}